@import url("https://fonts.googleapis.com/css?family=Inter:400,600");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

:root {
  /* Colors */
  --bkg: 222 47.4% 11.2%;
  --bkg-alt: 226 58.3% 18.8%;
  --text: 226 100% 93.9%;
  --text-alt: 226 22.1% 73.3%;
  --muted: 230 39% 67.8%;
  --white: 255 100% 100%;
  --accent1: 241 76.8% 62.7%;
  --accent2: 330 85.2% 60.4%;
  --accent3: 0 90.6% 70.8%;
  --gradient: linear-gradient(
    94.55deg,
    hsl(var(--accent2)) -4.6%,
    hsl(var(--accent3)) 99.9%
  );
}

@media (min-width: 768px) {
  html {
    font-size: 130%;
  }
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 1.55;
  max-width: 2000px;
  margin: auto;
  background-color: hsl(var(--bkg));
  color: hsl(var(--text));
}

/* LAYOUT */
.wrapper {
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

main {
  display: grid;
  gap: var(--size-fluid-6);
  padding: var(--size-fluid-5) var(--size-fluid-2);
}

.container {
  width: 100%;
  max-width: 1500px;
  margin: auto;
}

.container-sm {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.container-xs {
  width: 100%;
  max-width: 900px;
  margin: auto;
}

/* UTILS */

.text-bkg {
  color: hsl(var(--bkg));
}
.text-bkg-alt {
  color: hsl(var(--bkg-alt));
}
.text-text {
  color: hsl(var(--text));
}
.text-text-alt {
  color: hsl(var(--text-alt));
}
.text-muted {
  color: hsl(var(--muted));
}
.text-white {
  color: hsl(var(--white));
}
.text-accent1 {
  color: hsl(var(--accent1));
}
.text-accent2 {
  color: hsl(var(--accent2));
}
.text-accent3 {
  color: hsl(var(--accent3));
}
.text-gradient {
  color: transparent;
  background: var(--gradient);
  background-clip: text;
}

.h1 {
  font-size: var(--font-size-fluid-3);
  font-weight: 600;
  line-height: 1.1;
}
.h2 {
  font-size: var(--font-size-fluid-2);
  font-weight: 600;
  line-height: 1.1;
}
.h3 {
  font-size: var(--font-size-fluid-1);
  font-weight: 600;
  line-height: 1.1;
}

small {
  font-size: var(--font-size-00);
}

.grid-sm {
  display: grid;
  place-items: center;
  gap: var(--size-fluid-1);
}

.grid-md {
  display: grid;
  place-items: center;
  gap: var(--size-fluid-3);
}

.grid-lg {
  display: grid;
  place-items: center;
  align-content: center;
  gap: var(--size-fluid-3);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.narrow {
  max-width: 80ch;
}

/* COMPONENTS */
.btn {
  color: hsl(var(--white));
  text-decoration: none;
  padding: var(--size-2) var(--size-fluid-4);
  border-radius: var(--radius-1);
  cursor: pointer;
}

.btn--primary {
  background-color: hsl(var(--accent1));
}

.btn--secondary {
  background: var(--gradient);
}

.btn--muted {
  background-color: hsl(var(--muted));
}

.btn--menu {
  background-color: transparent;
  border: none;
  display: grid;
  place-items: center;
  padding-inline: var(--size-2);
}

.btn--menu[aria-expanded="true"] + .nav-links {
  transform: translateY(0);
}

.blur {
  position: relative;
}

.blur::after,
.blur::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  filter: blur(35px);
  border-radius: 50% 50% 50%;
}

.blur::after {
  background-color: hsl(var(--accent1) / .2);
  transform: rotate(-20deg);
}

.blur::before {
  background-color: hsl(var(--accent2) / .2);
  transform: rotate(20deg);
}

@media screen (min-width: 768px) {
  .blur::after,
  .blur::before {
    filter: blur(120px);
  }
}

/* NAV */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--size-fluid-2);
}

.nav-links,
.nav-wrapper {
  display: flex;
  align-items: center;
  gap: var(--size-3);
}

.nav-links {
  flex-direction: column;
  transform: translateY(-200%);
  position: absolute;
  background-color: hsl(var(--bkg));
  top: var(--size-fluid-5);
  left: 0;
  right: 0;
  text-align: center;
  padding: var(--size-3);
  border-bottom: 2px solid hsl(var(--muted));
}

li[role="none"],
.nav-link {
  width: 100%;
  display: block;
  font-size: var(--font-size-1);
}

.logo {
  width: calc(var(--size-fluid-8) * 0.75);
}

@media (min-width: 900px) {
  .nav-wrapper {
    gap: var(--size-4);
  }
  .btn--menu {
    display: none;
  }
  .nav-links {
    flex-direction: row;
    position: static;
    transform: translateY(0);
    border: none;
    padding: 0;
    inset: initial;
    background-color: transparent;
  }
  li[role="none"],
  .nav-link {
    width: initial;
    font-size: var(--font-size-0);
  }
}

/* HERO */
header {
  text-align: center;
}


/* PROGRAMMER SECTION */
.programmer::after,
.programmer::before {
  opacity: 0.8;
}

.programmer-icon {
  width: var(--size-fluid-9);
  filter: drop-shadow(10px 10px 25px hsl(var(--accent2) / 0.2));
}

/* SERVICES */
.services {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: var(--size-fluid-3);
}

.service {
  flex: 1 1 300px;
  display: grid;
  gap: var(--size-2);
}

.service--icon {
  background-color: hsl(var(--muted));
  justify-self: start;
  padding: clamp(0.6rem, 3vw, .8rem);
  border-radius: 50%;
}

.service--icon svg {
  width: var(--size-fluid-2);
}

/* REVIEWS */
.reviews-wrapper {
  background-color: hsl(var(--bkg));
  margin: 0 calc(var(--size-fluid-2) * -1);
}

.reviews-wrapper::after,
.reviews-wrapper::before {
  inset-inline: 20%;
}

.reviews-container {
  overflow: hidden;
  position: relative;
  width: calc(100vw - var(--size-fluid-2));
  background-color: hsl(var(--bkg));
}

.reviews {
  display: flex;
  margin: var(--size-fluid-4) 0 var(--size-fluid-5);
  text-align: center;
  transform: translateX(-100%);
  transition: transform 300ms ease-in-out;
}

.review {
  flex: 1 0 100%;
}

.review-avatar {
  max-width: var(--size-fluid-5);
  border-radius: 50%;
}

.review-content {
  max-width: 80%;
}

.review-btn {
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  background: none;
  border: none;
  background-color: hsl(var(--bkg));
  color: hsl(var(--muted));
  padding: var(--size-1);
  width: var(--size-fluid-4);
  cursor: pointer;
  transition: all 300ms var(--ease-squish-2);
}

.review-btn--prev {
  left: 0;
}

.review-btn--prev:is(:hover, :focus) {
  left: calc(var(--size-1) * -1);
  color: hsl(var(--text));
}
.review-btn--next {
  right: 0;
}

.review-btn--next:is(:hover, :focus) {
  right: calc(var(--size-1) * -1);
  color: hsl(var(--text));
}

.indicator-container {
  position: absolute;
  left: 50%;
  bottom: var(--size-5);
  display: flex;
  justify-content: center;
  gap: var(--size-3);
  transform: translateX(-50%);
}

.indicator {
  background: transparent;
  border: 0.15em solid hsl(var(--text-alt));
  border-radius: 50%;
  padding: 0.3rem;
  height: var(--size-fluid-1);
  cursor: pointer;
}

.indicator.active {
  background: hsl(var(--text-alt));
}

/* PRICING */
.pricing-wrapper {
  display: grid;
  gap: var(--size-fluid-5);
}

.pricing-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-3);
  align-items: center;
  justify-content: center;
}

.pricing-container::before,
.pricing-container::after {
  inset: 15%;
}

.pricing-card {
  padding: var(--size-3) var(--size-5);
  border: 1px solid hsl(var(--text-alt));
  background-color: hsl(var(--bkg));
}

.pricing-card.featured {
  border-color: hsl(var(--accent2));
  position: relative;
}

.pricing-card.featured::before {
  content: "Most Popular";
  position: absolute;
  top: calc(var(--size-fluid-1) * -.15);
  transform: translateY(-50%);
  background: var(--gradient);
  font-size: var(--font-size-00);
  text-transform: uppercase;
  text-align: center;
  border-radius: var(--size-2);
  padding: 0 var(--size-2);
}

@media screen and (min-width: 1075px) {
  .pricing-card.featured {
    transform: scale(1.15);
    border: 4px solid hsl(var(--accent2));
    padding: var(--size-5) var(--size-6) var(--size-3);
    margin: 2rem 0;
  }
}

.pricing-card-price {
  font-size: var(--size-fluid-2);
  font-weight: bold;
  text-align: center;
}

.pricing-card-pill {
  background-color: hsl(var(--text-alt));
  color: hsl(var(--bkg));
  text-transform: uppercase;
  text-align: center;
  font-size: var(--font-size-00);
  border-radius: var(--size-2);
  padding: 0 var(--size-2);
}

.pricing-card-description {
  font-size: var(--font-size-0);
  text-align: center;
}

.pricing-card-feature-container {
  list-style: none;
  font-size: var(--font-size-0);
  display: grid;
  gap: var(--size-2);
  margin-bottom: var(--size-2);
}

.pricing-card-feature {
  display: flex;
  gap: var(--size-2);
}

/* CLIENTS */
.clients--heading {
  font-weight: normal;
}

.client-logo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0 var(--size-fluid-3);
}

.client-logo {
  flex: 0 1 var(--size-fluid-5);
}

/* CTA */
.cta {
  text-align: center;
}

.cta .narrow {
  max-width: var(--size-content-3);
}

/* FOOTER */

footer {
  display: grid;
  place-items: center;
  padding: var(--size-2);
  background-color: hsl(var(--bkg));
  color: hsl(var(--text-alt));
}

footer::after,
footer::before {
  height: 100px;
}




















