---
import {Icon} from 'astro-icon';
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import Reviews from '../components/Reviews.astro';
import Pricing from '../components/Pricing.astro';
import Clients from '../components/Clients.astro';
import CTA from '../components/CTA.astro';
---

<BaseLayout title="Desgn Landing Page">
  
  <Hero />

  <section class="programmer container blur grid-sm">
    <Icon name="programmer" width="400px" class="programmer-icon" alt="Programmer Picture" aria-hidden="true" />
  </section>

  <Services />
  
  <Reviews />
 
  <Pricing />
  
  <Clients />
  
  <CTA />

</BaseLayout>
