---
import Button from './Button.astro';
---
<header class="grid-lg">
  <div class="grid-sm">
    <h1 class="h1">Your Kind of Designer</h1>
    <p class="text-muted narrow">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, fugit a. Nulla numquam beatae, amet doloremque quod sunt molestias accusamus! Assumenda aspernatur fuga expedita accusamus, corporis in optio porro ratione libero. Voluptatem in deleniti id!</p>
  </div>
  <div class="grid-sm">
    <Button text="Contact Me" link="#" style="secondary"/>
    <small class="text-muted">No commitment contact</small>
  </div>
</header>