---
import Navbar from '../components/Navbar.astro'
const {title} = Astro.props;
---

<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<link
    rel="stylesheet"
    href={Astro.resolve("../styles/global.css")}
  >
</head>
<body>
  <div class="wrapper">
    <Navbar />
	  <main>
        <slot />
	  </main>
    <footer class="blur">
      <small>Copyright © <span id="copyrightYear"></span> Desgn</small>
    </footer>
  </div>
  <script>
    document.querySelector('#copyrightYear').textContent = new Date().getFullYear();
  </script>
</body>
</html>
